/*
Theme Name:     Storefront Child Theme
Theme URI:      http://www.dogmastore.com.br/
Description:    Tmema Dogma Store
Author:         I9ME
Author URI:     http://www.i9me.com.br/
Template:       storefront                             
Version:        1.1
*/
