.i9me{
    background: $black;
    min-height: 53px;
    padding: 10px 0;
  

    @include e('developer'){
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    @include e('copyright'){
        font-size: 11px;
        text-align: center;
        color: #999;
        margin:0;
    }
}
.footer {
    $self : &;
    @extend %boxFull;
    position: relative;
    background: $white;

 }