.header-bar{
  $self : &;
  @extend %boxFull;
  height: 60px;
  position: relative;
  background: $black;
  z-index: 9999;
  padding: 15px 0;

  @include e('nav'){
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include e('menu'){
    z-index: -1;
    padding: 0;
  }
}


//REDES SOCIAIS
.redes {
  @include span(.15);

  @include e('lista'){
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;

      li{
        width: 20%;
        text-align: center;

         i{
            color: $white;
            font-size: 14px;
            border: 1px solid;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            &:hover{
              border: 1px solid $white;
              color: #ccc;
            }
         }
     }
  } 
}
// SOBRE NOS/ATENDIMENTO/LOGIN
.opcoes-bar{
  @include span(.7);
  display: flex;
  align-items: center;
  justify-content: center;

  @include e('lista'){
    width: 45%;
    float: left;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    li{
      height: 12px;
      line-height: 0;

      &:nth-child(2){
        padding: 0 20px;
        border-right: 1px solid #CCC;
        border-left: 1px solid #CCC;
      }

      a{
        @include fonts(300,10);
        color: $white;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover{
          color: #ccc;
        }
      }
    }
  }
}  

//CONTATO - WHATSAPP
.contatos{
  @include span(.15);
  display: flex;
  align-items: center;
  justify-content: center;

  @include e('lista'){
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;


    li{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      
      i{
        font-size: 17px;
        color: $white;
        margin-right: 5px;
      }
      a{
        @include fonts(500,12);
        color: $white;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover{
          color: #ccc;
        }
      }
    }
  }
}  

.header{
  $self : &;
  @extend %boxFull;
  height: 90px;
  z-index: 9999999999999999;
  position: relative;
  transition: all 0.4s ease;
  
  

  @include respond-to(md){
   
    height: 80px;
    padding: 0;
  }
  
  @include e('brand'){
    width: 20%;
    float:left;

    h1{
      margin: 0;
    }
  }

  @include e('menu-desktop'){
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }

  @include e('menu'){
    display: none;
   
    @include respond-to(sm){
      //@include span(.84);
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
     
    }

    @include respond-to(md){
     // @include span(.7);
      
    }
    
    
    ul{
      margin: 0;
      li{
        display: inline-block;
        width: 100%;
        text-align: center;

        @include respond-to(sm){
          margin-right: 20px;
          width: auto;
        }
        @include respond-to(md){
          margin-right: 13px;
          width: auto;
        }
        a{
          @include fonts(300,15);
          color: $black;
          text-transform: uppercase;

            @include respond-to(sm){
              @include fonts(300,9);
              
              
            }

            @include respond-to(md){
              @include fonts(700,15);
              padding-bottom: 27px;
              &:hover{
                color: #8e8e8e;
                transition: all 0.4s ease;
                border-bottom: 5px solid $black;
              }
            }
        }
      }
    }
  }

  @include e('toggle'){
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #4b8ba0;
    padding: 14px;
    position: relative;
    z-index: 999999999999999;
    right: 0;
    top: 15px;

    // .toggle{ 
    //   background-color: transparent; 
    //   width:53px; 
    //   height: 17px; 
    //   margin:5px 11px;    
    //   padding: 24px 13px 24px;
    //   border-radius: 7px; 
    //   position:relative; 
    //   z-index:999; 
    //} 
    &.on span{ 
      background-color: transparent;
    }
    &.on{ 
      background-color:$white; 
      border: 1px solid #000;
      padding: 15px;
    }
    &.on span{
    
      &:before{ 
        transform: rotate(45deg) translate(9px, 9px); 
        background-color: #003793; 
      }
    }
    &.on span{
    
      &:after{ 
      transform: rotate(-45deg) translate(7px, -8px); 
      background-color: #003793;
      }
    }

    &.on + .header__menu{
      position: absolute;
      left: 0;
      top: 86px; 
      display:block; 
      opacity: 1; 
      visibility:visible; 
      background: $white;  
      width:100%;
      height: calc(100vh - 0px); 
      z-index: 9999999;  

      @include respond-to(sm){
        @include span(.70);
        position: inherit;
        text-align: center;
      }
    
      @include respond-to(md){
        @include span(.60);
        position: inherit;
        text-align: center;
      }

      ul{
        margin: 15px 0;
        background: #fff;
        
        li{
          margin: 16px 0;
          text-align: left;
          padding-left: 10%;
          
          a{
            color: #003793;
            @include fonts(500,14);


          }
        }
      }
      
     
    }

    span {
      position: relative; 
      display: block; 
      left: -1px; 
      top: 10px;
      height: 6px; 
      background-color: #4b8ba0; 

      &:after, 
      &:before {
        content: ""; 
        position: absolute; 
        left: 0; 
        top:-12px; 
        width: 31px; 
        height: 6px; 
        background-color: #4b8ba0; 
        border-radius: 1px; 
        transition: all 0.3s; backface-visibility:hidden; 
      }

      &:after{ 
      top:12px;
      }
    }

    @include respond-to(sm){
      display: none;
    }

    @include respond-to(md){
      display: none;
    }
  }
}
.menu{
  @include e('nav'){
    
    li{
      position: relative;
      
      &:hover{
        .sub-menu{
          display: inline-block;
          position: absolute;
          text-align: left;
          background: #fbfbfb;
          top: 52px;
          left: 0;
          padding: 10px;

          li{
            margin-right: 0;
            width: 100%;
            text-align: left;
            padding-bottom: 15px;
            
            &:last-child(){
              padding-bottom: 0;
            }
          }


          a{
            @include fonts(500,12);
            color: #8e8e8e;
            &:hover{
              color: $black;
              border:0;

            }
          }
        }
      }
      
    }
    .sub-menu{
      display: none;
    }
  }
}
.main{
  @extend %boxFull;
  overflow: hidden;
}

.scrollOn{
  background: $white;
  //border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  height: 86px;
  transition: all 0.5s;
  padding: 0;
  z-index: 999999999999999;
  position: fixed;
  
  .header__menu ul a{
    color: $blueLight;
    padding-bottom: 27px;
   
    &:hover{
      color: $blueHover;
      border-bottom: 5px solid $blueHover;
    }
  }

  // .header__toggle{
  //   margin: 0;
  //   background: $blueLight;
    
  //   span{
      
  //     &:before{
  //       background: $white;
  //     }
  //     &:after{
  //       background: $white;
  //     }
  //   }
  // }

  // .on + .header__menu{ 
  //   display:block; 
  //   opacity: 1; 
  //   position: absolute$i; 
  //   top: 85px$i; 
  //   left: 0px$i; 
  //   visibility:visible; 
  //   background: hsl(0, 0%, 100%);  
  //   width:100%; 
  //   z-index: 999;  
  // }
}

.scrollOff{
 background: #fff;
  transition: all 0.5s;
}










.marca{
  width: 15%;
  float: left;
}
